*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    background: url('./img/drums.jpg');
    background-size: cover;
    font-family: 'Slabo 13px', serif;
}

.keys{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 10rem;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    transition: all 0.7 ease;
}

kbd{
    display: block;
    font-size: 4rem;
}

.sound{
    color: #ffc600;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.playing{
    scale:(1.1);
    border-color:  #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

